SERVICES_ACCOUNT=""
AUTH_EMAIL=""
GCLOUD_DESCRIBE="g2cloud sql instances describe"
MAINTENANCE_KEY="availableMaintenanceVersions"
USER_DB_DISCOVERY=""
PASS_DB_DISCOVERY=""
HOST_DB_DISCOVERY=""
PORT_DB_DISCOVERY=""
USER_DB_AGENT=""
PASS_DB_AGENT=""
DB_NAME=""
ALIAS="friday"
BASE_PATH_GCP_CONSOLE="https://console.cloud.google.com/sql/instances/{instance_name}/overview?project={project_name}"